@import url(new-styles.css);
    
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    font-family: Helvetica,Neue;
}

.card.show {
    display: block !important
}

.card {
    height: 120%;
    display: none;
    background-position: right;
    width: 100%;
    background-color: #fff;
    border: 1px solid #E0F7FA;
    border-radius: 10px;
    margin-bottom: 10%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

@media (max-width: 768px){
    .card{
        height: 100%;
        width: auto;
        margin-left: 0;
    }
} 

.step-container {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    width: 99.85%;
    margin-top: 70px;
    margin-bottom: 50px
}

.fa-circle {
    background-color: lightgrey;
    color: #fff;
    padding: 2px 3.1555px;
    border-radius: 50%
}

.step-box {
    padding: 10px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #fff
}

.active {
    background-color: #2196F3;
    color: #fff !important;
    border-left: 1px solid #2196F3;
    border-right: 1px solid #2196F3
}

.active .fa-circle {
    background-color: #fff !important;
    color: #2196F3
}

.fa-check {
    border-radius: 50%;
    background-color: #00C853;
    color: #fff;
    padding: 3px
}

.step-title-0 {
    margin-bottom: 0px
}

.step-title {
    font-size: 13px;
    position: relative;
    margin-left: 4px
}

.heading {
    margin-top: -10px;
}
.centrar{
    text-align: center;
    margin-left: 25%;
}

input, datalist{
    padding: 8px 25px 8px 25px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-top: 2px;
    color: #888;
}

textarea,
button {
    padding: 8px 25px 8px 25px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 0.5px;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid skyblue !important;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid green !important;
    outline-width: 0
}

textarea {
    height: 100px
}

button {
    width: 120px;
    letter-spacing: 2px
}

.fit-image {
    width: 100%;
    object-fit: cover
}

@media screen and (max-width: 768px) {
    .break-line {
        display: block;
        float: none
    }
}

.logo{
    width: 30%;
    margin-left: 50px;
}

.subtitulo{
    width: 35%;
}

.reg{
    margin-right: 50px;
    border-radius: 50px;
}
.unactive{
    background: #2196F3 !important;
    color: #fff;
    opacity: 0.5;
}
.formulario{
    margin-top: 8%;
    margin-left: 10%;
    width: 100%;
}
.formulario input{
    width: 90%;
    height: 60px;
}
.formulario-rut{
    display: block;
}
.formulario-pasaporte{
    display: none;
}

@keyframes shake {
        0% { transform: translate(1px, 1px) ; }
        10% { transform: translate(-1px, -2px) ; }
        20% { transform: translate(-3px, 0px) ; }
        30% { transform: translate(3px, 2px) ; }
        40% { transform: translate(1px, -1px) ); }
        50% { transform: translate(-1px, 2px) ; }
        60% { transform: translate(-3px, 1px) ; }
        70% { transform: translate(3px, 1px) ; }
        80% { transform: translate(-1px, -1px) ; }
        90% { transform: translate(1px, 2px) ; }
        100% { transform: translate(1px, -2px) ; }
    }

#nropas{

}

.form-control {
    min-height: 41px;
    background: #fff;
    border-color: #e3e3e3;
    box-shadow: none !important;
    border-radius: 4px;
}
    .form-control:focus {
        border-color: #99c432;
    }
    .login-form {
        width: 310px;
        margin: 0 auto;
        padding: 100px 0 30px;      
    }
    .login-form form {
        color: #999;
        border-radius: 10px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;  
        position: relative; 
    }
    .login-form h2 {        
        font-size: 24px;
        color: #454959;
        margin: 45px 0 25px;
        font-family: 'Francois One', sans-serif;
    }
    .login-form .avatar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -50px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #ffffff;
        padding: 15px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .login-form .avatar img {
        width: 100%;
    }
    .login-form .btn {
        color: #fff;
        border-radius: 4px;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }
    .login-btn {        
        font-size: 16px;
        font-weight: bold;
        background: #df4930;        
        margin-bottom: 20px;
    }
    .login-btn:hover, .login-btn:active {
        background: #86ac2d !important;
    }
    .social-btn {
        margin-left: 4%;
        width: 40%;
    }
    .social-btn .btn {      
        margin-bottom: 10px;
        font-size: 14px;
        text-align: left;
    }   
    .social-btn .btn:hover {
        opacity: 0.8;
        text-decoration: none;
    }   
    .social-btn .btn-primary {
        background: #507cc0;
    }
    .social-btn .btn-info {
        background: #64ccf1;
    }
    .social-btn .btn-danger {
        background: #df4930;
    }
    .social-btn .btn i {
        float: left;
        margin: 1px 10px 0 5px;
        min-width: 20px;
        font-size: 18px;
    }
    .or-seperator {
        height: 0;
        text-align: center;
        border-top: 1px solid #000;
        width: 40%;
        margin-bottom: 30px;
        margin-left: 4%;
    }
    .or-seperator i {
        font-size: 15px;
        text-align: center;
        display: inline-block;
        position: relative;
        top: -13px;
        background-color: #E1E7ED;
        width: 60px;
        z-index: 1;
    }
    .login-form a {
        color: #fff;
        text-decoration: underline;
    }
    .login-form form a {
        color: #999;
        text-decoration: none;
    }   
    .login-form a:hover, .login-form form a:hover {
        text-decoration: none;
    }
    .login-form form a:hover {
        text-decoration: underline;
    }